.root {
    -fx-font-size: 18;
}

#calculator {
    -fx-alignment: center-right;
    -fx-background-color: #494b4e;
}

#display {
    -fx-font-family: monospace;
    -fx-alignment: bottom-right;
    -fx-padding: 20 5 5 5;
    -fx-font-size: 40;
    -fx-text-fill: black;
}

.button {
    -fx-pref-width: 100;
    -fx-pref-height: 90;
    -fx-background-color: lightgray;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #e5fc0e;
    -fx-border-width: 0.5;
}

.button:armed {
    -fx-background-color: #39f180;
}

.button.zero {
    -fx-pref-width: 180;
    -fx-alignment: center-left;
    -fx-padding: 0 25;
}

.button.op {
    -fx-background-color: #3ba2e0;
}

.button.op:armed {
    -fx-background-color: #22e556;
}
